* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    font-family: Helvetica;
}

.row {
    margin-bottom: 25px;
}

.item {
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #1a1a1a;
}

.item-img {
    width: 100%;
    display: block;
}

.item:hover {
    cursor: pointer;
}

.cont-img {
    width: 100%;
    position: relative;
}

.text {
    margin-top: 10px;
}

.brand {
    font-family: 'Times New Roman', Times, serif;
}

.type {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uppercase {
    text-transform: uppercase;
}

.price {
    font-weight: bold;
    margin-top: 10px;
}

.spec {
    color: #EB0037;
}

.text-special {
    background-color: #75AC51;
    padding: 15px 10px;
    line-height: 22px;
    
    
}

.special-title {
    font-weight: bold;
}

.heart {
    width: 15%;
    position: absolute;
    top: 10px;
    right: 0;
}

.tagover {
    position: absolute;
    bottom: 10px;
}

.tag {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.discount {
    background-color: #EB0037;
}

.sosten {
    background-color: #00875A;
}